



body{
	background-color: #f8f8f8;
}
.wrap-login{
	padding: 20px;
	padding-bottom: 40px;
	margin-top: 10px;
	background-color: #f8f8f8;
	border: solid 2px #d0d0d0;
}
.btn-login{
	background-color: #e74c3c;
	color: #fff;
	margin-top: 10px; 
}
.our-logo{
	font-family: 'Exo', sans-serif;
	color: #e74c3c;
}
